RAG Apps/Generic RAG App.json
{
  "name": "Generic RAG App",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=**Rol**\nEres un asesor de servicio al cliente de una empresa de motos que se llama AKTMotos.\n\n**Tarea**\nDebes ayudar al cliente a resolver sus dudas y hacerle recomendaciones. Hablas con franqueza pero siendo amable. Frases cortas y contundentes. Totalmente honesto\n\n**Detalles**\nTienes accesos a varias herramientas las cuales usas correctamente.\n\n**Herramientas**\n- **akt_motos_q**  \n  Utilice esta herramienta para responder preguntas con conocimiento sobre las motos que ofrece la empresa."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -40,
        60
      ],
      "id": "21f70419-a35f-45b0-979a-bea33f60ae61",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 12
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        60,
        280
      ],
      "id": "6e9042c6-9b11-4e96-a187-7955138adac8",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "gemini-scraper",
          "mode": "list",
          "cachedResultName": "gemini-scraper"
        },
        "options": {
          "pineconeNamespace": "n8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        120,
        440
      ],
      "id": "324831c0-8657-4203-9ce9-596f1f0317c2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "r7qAPleXy11TOW1W",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -220,
        60
      ],
      "id": "db9aeac8-7ba2-43c3-80d0-9e96d2f1ffd3",
      "name": "When chat message received",
      "webhookId": "854c829c-2ce6-426f-89e2-ed44d33182f3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -120,
        320
      ],
      "id": "96d0e499-3b8f-45fe-8935-8bf053673683",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "l5wMgSdPTVrnNWTw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        120,
        620
      ],
      "id": "31f03af3-c413-4506-8a8c-8dd696011c18",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "l5wMgSdPTVrnNWTw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "id": "bfc6de10-dcc7-499c-a38b-96ca0a0e7b88",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "l5wMgSdPTVrnNWTw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "akt_motos_q",
        "description": "Provee información sobre motos y promociones de la empresa AKT",
        "topK": "=4"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        240,
        280
      ],
      "id": "d11cf996-9092-4c90-aebc-b3da90870f04",
      "name": "akt_motos_q"
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "akt_motos_q",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "akt_motos_q",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "akt_motos_q": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "db256f5e-6d4f-49d8-a399-4278de92b714",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "841d6ac312625e899d3667ff1ab904883d0fa3298c98d163673668f5cc90c97a"
  },
  "id": "KijKLcQ9RDjdQDuI",
  "tags": []
}