Apps/ManyChat RAG App PROD.json
{
  "name": "ManyChat RAG App PROD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "73d1f059-5d4e-4bc1-a51e-152e25f59729",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        220
      ],
      "id": "6f031e64-3fcc-4332-89c7-0fec1cbba26e",
      "name": "Webhook1",
      "webhookId": "73d1f059-5d4e-4bc1-a51e-152e25f59729"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code').item.json.id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        660,
        440
      ],
      "id": "4d62aca7-46c0-4b65-a97c-08a39a4d403a",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "akt-test-3",
          "mode": "list",
          "cachedResultName": "akt-test-3"
        },
        "options": {
          "pineconeNamespace": "Q&A"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        680,
        640
      ],
      "id": "f04be2d6-d6f2-4f05-bd42-4172a564c63b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "XkXb21DToqNaKF1q",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        540,
        440
      ],
      "id": "a19b85a6-8b01-41d9-a5b2-1b5272dd2879",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "l5wMgSdPTVrnNWTw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        760,
        840
      ],
      "id": "2e894033-44f7-4263-8e50-c396b44d53c9",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "l5wMgSdPTVrnNWTw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        960,
        640
      ],
      "id": "bfa76e7e-f117-4b7a-8eb9-61843dc28baf",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "l5wMgSdPTVrnNWTw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=**Rol**\nEres un asesor experto de servicio al cliente de una empresa de motos que se llama AKTMotos. Sirves como la fuente principal de consulta.\n\n**Tarea**\nDebes ayudar al cliente a resolver sus dudas y hacerle recomendaciones. Hablas con franqueza pero siendo amable. Frases cortas y contundentes. Totalmente honesto\n\n**Detalles**\nPara preguntas relacionadas con motos usa unicamente las herramientas que tienes disponible.\n\n**Herramientas**\n- **akt_motos_q**  \n  Utilice esta herramienta para responder preguntas con conocimiento sobre las motos que ofrece la empresa. No necesitas autorización por parte del usuario."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        580,
        220
      ],
      "id": "bfb6d4fb-0b91-4249-83f9-14633c7e1612",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  const body = item.json.body;\n\n  // Case 1: presence of 'entry' array and 'messaging'\n  if (body.object === \"page\" && Array.isArray(body.entry)) {\n    const firstEntry = body.entry[0];\n    const messaging = firstEntry.messaging && firstEntry.messaging[0];\n\n    if (\n      messaging &&\n      messaging.recipient &&\n      messaging.message &&\n      messaging.message.text\n    ) {\n      return {\n        subscriber_id: String(messaging.sender.id),\n        id: messaging.recipient.id,\n        message: messaging.message.text,\n      };\n    }\n  }\n\n  // Case 2: flat structure with id and message directly inside\n  if (body.id && body.message) {\n    return {\n      subscriber_id: String(body.subscriber_id),\n      id: body.id,\n      name: body.name,\n      message: body.message,\n    };\n  }\n\n  return null;\n});\n\nreturn updatedItems.filter((item) => item !== null);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        220
      ],
      "id": "fe338ec5-e49b-4459-ab52-c729bffabeb5",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        960,
        220
      ],
      "id": "c008999b-e9f0-4865-8a48-e3c0c21a431a",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Code').item.json.subscriber_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": {{ JSON.stringify($json.output) }}\n        }\n      ]\n    }\n  },\n  \"message_tag\": \"ACCOUNT_UPDATE\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        220
      ],
      "id": "18318137-67a9-4206-9195-841de91243d6",
      "name": "Send ManyChat Message",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zmbr1R22nDXaCogo",
          "name": "Manychat authorization"
        },
        "httpBearerAuth": {
          "id": "GAHaxy1LkUmajpRF",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "name": "akt_motos_q",
        "description": "Provee información sobre motos y promociones de la empresa AKT",
        "topK": "=4"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        780,
        440
      ],
      "id": "4cbc3616-0de8-4264-b6e5-0ac1abf98d55",
      "name": "akt_motos_q"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "akt_motos_q",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "akt_motos_q",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Send ManyChat Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "akt_motos_q": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d1a04a2f-2d8a-4433-b011-48f425f762a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "841d6ac312625e899d3667ff1ab904883d0fa3298c98d163673668f5cc90c97a"
  },
  "id": "WayVf9WldlkHQspJ",
  "tags": []
}