Apps/ManyChat Simple LLM.json
{
  "name": "ManyChat Simple LLM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "73d1f059-5d4e-4bc1-a51e-152e25f59729",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -320,
        20
      ],
      "id": "f9b9cde4-bec0-4cd5-ab68-c5356274fab5",
      "name": "Webhook",
      "webhookId": "73d1f059-5d4e-4bc1-a51e-152e25f59729"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"version\": \"v2\",\n  \"content\": {\n    \"messages\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"{{ $json.text }}\"\n      }\n    ]\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        500,
        20
      ],
      "id": "4021ee50-803f-4edf-aca0-ed33980c963c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Eres un asesor de servicio al cliente de una empresa de motocicletas. Ayuda a los clientes recomendados motos y piezas.",
        "messages": {
          "messageValues": [
            {
              "message": "Eres un asesor de servicio al cliente de una empresa de motocicletas. Ayuda a los clientes recomendados motos y piezas."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Mensaje del usuario:  {{ $json.body.mensaje }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -80,
        20
      ],
      "id": "772c51cd-b860-46c4-bc4a-5a01ae880c5c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        240
      ],
      "id": "fdba6fac-ecd1-4200-be97-ccd4f1deb7a8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "l5wMgSdPTVrnNWTw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "$json.text = $json.text\n.replace(/\\\\/g, '\\\\\\\\') // Escape backslashes first\n.replace(/\"/g, '\\\\\"') // Escape double quotes\n.replace(/\\n/g, '\\\\n') // Replace newlines\n.replace(/\\r/g, '\\\\r') // Replace carriage returns\n.replace(/\\t/g, '\\\\t'); // Replace tabs\n\nreturn [$json];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        20
      ],
      "id": "7d2837d1-0131-4eac-b398-b28af3823036",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5a92b5bc-0a5f-41e9-9566-ff988e164441",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "841d6ac312625e899d3667ff1ab904883d0fa3298c98d163673668f5cc90c97a"
  },
  "id": "HO2SJZMnLpIi1mS0",
  "tags": []
}