DataIntegration/GoogleDriveFiles.json
{
  "name": "GoogleDriveFiles",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rqlhV4QUKCnu7NDiwZeCCmbmY3REicfU",
          "mode": "list",
          "cachedResultName": "RAG Documentos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rqlhV4QUKCnu7NDiwZeCCmbmY3REicfU"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0edd0180-5e65-4fd0-ac83-39fca52498ab",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pgfm13Iulzqhm9nB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "0c173e5a-4ff6-4e0c-a0fb-69e2e5f69889",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pgfm13Iulzqhm9nB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "akt-test-3",
          "mode": "list",
          "cachedResultName": "akt-test-3"
        },
        "options": {
          "pineconeNamespace": "Q&A"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        440,
        0
      ],
      "id": "bf7ad5a1-6f60-4585-9ae8-e3763fe2358c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "XkXb21DToqNaKF1q",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        420,
        200
      ],
      "id": "ad6df04b-430b-4632-b690-7d1a186a2687",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "nyncRIIQUuUWy0wH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        220
      ],
      "id": "0c0f4af5-5d54-4145-b25c-f152c2605aa9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "separator": "500",
        "chunkSize": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        580,
        380
      ],
      "id": "70b11f14-1130-4c13-a5e2-f24e231c27d1",
      "name": "Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e15deb33-9b88-4618-a868-d16726db2e67",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "841d6ac312625e899d3667ff1ab904883d0fa3298c98d163673668f5cc90c97a"
  },
  "id": "SfU30UcCVPfuB6DA",
  "tags": []
}